
:root{
    --primary-color: #fbffff;
    --secondary-color: #00ffc4;
    --background-color: #d0f4fc;
    --backlight-color: #314644;
    --border-color: #f6fffe9e;
    --text-color: #432a20;
    --box-shadow-color: #333333;
    --svg-filter: invert(46%) sepia(80%) saturate(100%) hue-rotate(
        130deg) brightness(120%) contrast(400%);

    --rock-object-float: 200vh;
    --paper-object-float: 200vh;
    --scissors-object-float: 200vh;

    --rock-magic-visible: 0;
    --paper-magic-visible: 0;
    --scissors-magic-visible: 0;

}
    




h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: var(--primary-color);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    color: var(--text-color);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h4 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: var(--text-color);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 2000;
    color: var(--text-color);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    font-size: 15px;
    color:#000
}



body{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    background: var(--background-color);
    flex-direction: column;
    overflow:hidden;
    height:100%;

}
.wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height:117vh;
    max-width: 100vw;
    max-height:200vh;
    overflow-y:auto;
    overflow-x: hidden;
    perspective: 10px;
    margin-bottom: 0px ;
}

.wrapper::-webkit-scrollbar{
    display:none;
}

.header{
    z-index: 1;
    width: 500px;
    height: 64px;
    position: absolute;
    top: 0%;
    /* left: 50%; */
    background: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}


h1{
    position: absolute;
    top: 0%;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 100;
    font-weight: 10000;
    color: var(--text-color);
    border: var(--text-color);
    top: 0%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.rochambeau-title {
    opacity:0;
    transform: translateY(30px);
    transition: 2s cubic-bezier(0.47, 0.02, 0.53, 0.96);
}
.rockpaperscissors-title{
    font-size: 32.5px;
    margin-block-start: 10px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    opacity:0;
    transform: translateY(-30px);
    transition: 2s cubic-bezier(0.47, 0.02, 0.53, 0.96);
}
.rps-symbols-title{
    position: fixed;
    width: 340px;
    height: 50px;
    display: flex;
    background: none;
    /* top: 5%; */
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    opacity:0;
    transform: translateY(30px);
    transition: 2s cubic-bezier(0.47, 0.02, 0.53, 0.96);
}

.rochambeau-title.active{
    visibility:visible;
    opacity:1;
    transform: translateY(0px);
    
}
.rockpaperscissors-title.active{
    visibility:visible;
    opacity:1;
    transform: translateY(0px);
    
}
.rps-symbols-title.active{
    visibility:visible;
    opacity:1;
    transform: translateY(0px);
    
}

.scroll {
    padding-top: 70px;
    top: 80vh;
    position: absolute;
    opacity:0;
    transition: 1s cubic-bezier(0.47, 0.02, 0.53, 0.96);
    visibility:hidden;
}

.scroll.active{
    opacity:1;
    visibility:visible;
}

.scroll span {
position: absolute;
top: 0;
left: 50%;
width: 24px;
height: 24px;
margin-left: -12px;
border-left: 1px solid var(--text-color);
border-bottom: 1px solid var(--text-color);
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-animation: scrollTwerk 1.5s infinite;
animation: scrollTwerk 1.5s infinite;
box-sizing: border-box;
}
@-webkit-keyframes scrollTwerk {
0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
}
}
@keyframes scrollTwerk {
0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
}
}
/*//////////////////////////////////////////////////////////////////////////////
/////////////////////////                              /////////////////////////
///////////////////////// -----  Parallax vis   -----  /////////////////////////
/////////////////////////                              /////////////////////////
//////////////////////////////////////////////////////////////////////////////*/
.visuals {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index:-1;
    margin-bottom: 0px;
    
}

.planet-2 {
    transform: translateZ(-30px) scale(2)translateY(-2vh);
}
.planet-1 {
    transform: translateZ(-20px) scale(1.5)translateY(66vh) translateX(-357px);
}
.far-background {
    transform:translateZ(-15px) scale(1.79)translateY(82vh)translateX(0px);
}
.background {
    transform: translateZ(-10px) scale(1.42)translateY(128vh)translateX(-4px);
}
.midground {
    transform: translateZ(-6px) scale(1.14)translateY(177vh)translateX(0px);
}
.rock {
    transform: translateZ(-5px) scale(1.0) translateY(var(--rock-object-float)) translateX(-115px);
    transition: transform 2s cubic-bezier(0.47, 0.02, 0.53, 0.96);
}
.paper {
    transform: translateZ(-5px) scale(1.0) translateY(var(--paper-object-float)) translateX(117px);
    transition: transform 2s cubic-bezier(0.47, 0.02, 0.53, 0.96);
}
.scissors {
    transform: translateZ(-5px) scale(1.0) translateY(var(--scissors-object-float)) translateX(384px);
    transition: transform 2s cubic-bezier(0.47, 0.02, 0.53, 0.96);
}
.foreground {
    transform: translateZ(-4px) scale(1.0) translateY(205vh);
}

.player {
    transform: translateZ(0px) scale(0.8) translateY(235vh)translateX(23px);
}

.planet-2,
.planet-1,
.far-background,
.background,
.midground,
.scissors,
.paper,
.rock,
.foreground,
.player{
    position:absolute;
    object-fit:cover;
    z-index: -1;
}



/*//////////////////////////////////////////////////////////////////////////////
/////////////////////////                              /////////////////////////
/////////////////////////      -----  HUD   -----      /////////////////////////
/////////////////////////                              /////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.result {
    transform: translateZ(-3px) scale(1.3) translateY(108vh);
    transform-style: preserve-3d;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-area{
    transform: translateY(200vh);
    position:relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 400px;
    max-height:400px;
    transform-style: preserve-3d;
    z-index:-1;

}

@media screen and (max-width: 2560px){
    @supports (-moz-appearance:none) {
        .wrapper {
             margin:-170px; } 
    }
    .player-area{
        margin:-60px;
    }
    @supports (-moz-appearance:none) {
        .player-area {
             margin:-220px; } 
    }
    .computer-score {
        left:-20%;
    }
    .player-score {
        left:120%;
    }
    .computer-score-label {
        left:-24%;
    }
    
    .player-score-label {
        left:116%;
    }
    .player-choice{
        gap: 3vw;
    }
    
}
@media screen and (max-width: 1920px){
    @supports (-moz-appearance:none) {
        .wrapper {
             margin:-90px; } 
    }
    .player-area{
        margin:-30px;
    }
    @supports (-moz-appearance:none) {
        .player-area {
             margin:-80px; } 
    }
    .computer-score {
        left:-10%;
    }
    .player-score {
        left:110%;
    }
    .computer-score-label {
        left:-14%;
    }
    
    .player-score-label {
        left:106%;
    }
    .player-choice{
        gap: 8vw;
    }
    
}
@media screen and (max-width: 680px){
    .player-area{
        margin:0px;
    }
    @supports (-moz-appearance:none) {
        .player-area {
             margin:-10px; } 
    }
    .computer-score {
        left:0%;
    }
    .player-score {
        left:100%;
    }
    .computer-score-label {
        left:-4%;
    }
    
    .player-score-label {
        left:96%;
    }
    .player-choice{
        gap: 8vw;
    }
    
    
}



.play-button{
    width: 42px;
    height: 42px;
    position: absolute;
    visibility: visible;
    top: 41.5%;
    left: 41.5%;
    z-index: 4;
    border: none;
    transform-origin: center;
    animation: none;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.play-button:hover ~ .solar-system{
    transform: scale(0); 
    transition:0.5s cubic-bezier(0.44,-0.33, 0.71, 0.99)all;
}


@keyframes ellipse1 {
    0% {
        background:var(--primary-color);
        transform: translate(0px,0px) scale(1);
        opacity: 1;
    }
    100%{
        background:rgba(0, 0, 0, 0);
        transform: translate(-120px,-71px) scale(2);
        opacity: 0;
    }
}
@keyframes ellipse2 {
    0% {
        background:var(--primary-color);
        transform: translate(0px,0px) scale(1);
        opacity: 1;
    }
    100%{
        background:rgba(0, 0, 0, 0);
        transform: translate(120px,-71px)scale(2);
        opacity: 0;
    }
}
@keyframes ellipse3 {
    0% {
        background:var(--primary-color);
        transform: translate(0px,0px) scale(1);
        opacity: 1;
    }
    100%{
        background:rgba(0, 0, 0, 0);
        transform: translate(0px,120px)scale(2);
        opacity: 0;
    }
}


.ellipse1,
.ellipse2,
.ellipse3{
    width: 10px;
    height: 10px;
    position: absolute;
    visibility: hidden;
    top: 47.5%;
    left: 47.5%;
    border: none;
    background-color: var(--primary-color);
    border-radius:50%;
    
}

.ellipse1 {
    animation: 3s cubic-bezier(0.27, 0.32, 0.3, 1.01) 0s 1 none;
}
.ellipse2 {
    animation: 3s cubic-bezier(0.27, 0.32, 0.3, 1.01) 0s 1 none;
}
.ellipse3 {
    animation: 3s cubic-bezier(0.27, 0.32, 0.3, 1.01) 0s 1 none;
}
/*//////////////////////////////////////////////////////////////////////////////
/////////////////////////                              /////////////////////////
///////////////////////// -----  Player Sign Image   -----  ////////////////////
/////////////////////////                              /////////////////////////
//////////////////////////////////////////////////////////////////////////////*/


.player-sign-image {
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    visibility: visible;
    top: 41.5%;
    left: 97%;
    z-index: 4;
    opacity: calc(var(--rock-magic-visible) + var(--paper-magic-visible)+ var(--scissors-magic-visible));
    transform-origin: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition:0.5s cubic-bezier(0.44,-0.33, 0.71, 0.99)all;
}

.rock-sign,
.paper-sign,
.scissors-sign {
    position: absolute;
    border-radius:50%;
    width:50px;
    height:50px;
    box-shadow: 0 0 5px #004937, 0 0 25px #003d2e,
     0 0 50px #000000, 0 0 30px #006c51 inset;
    filter:invert(46%) sepia(80%) saturate(70%) hue-rotate( 130deg) brightness(120%) contrast(400%);
    transition:1s cubic-bezier(0.44,-0.33, 0.71, 0.99)all;
}
.rock-sign{
    opacity:var(--rock-magic-visible);
}
.paper-sign{
    opacity:var(--paper-magic-visible);
}
.scissors-sign{
    opacity:var(--scissors-magic-visible);
}

/*//////////////////////////////////////////////////////////////////////////////
/////////////////////////                              /////////////////////////
///////////////////////// -----  SOLAR SYSTEM   -----  /////////////////////////
/////////////////////////                              /////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

/* credit to https://codepen.io/AlexWarnes for this one */ 


@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
}

.spinner-box {
    width:250px;
    height:250px;
    position: absolute;
    visibility: visible;
    top: 0%;
    z-index: 2;
    transform-origin: center;
    

}

.solar-system {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .orbit {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fafbfC;
      border-radius: 50%;
  } 
  
  .earth-orbit {
      width: 165px;
      height: 165px;
    -webkit-animation: spin 24s linear 0s infinite;
    opacity: 50%;
  }
  
  .venus-orbit {
      width: 120px;
      height: 120px;
    -webkit-animation: spin 14.8s linear 0s infinite;
  }
  
  .mercury-orbit {
      width: 90px;
      height: 90px;
    -webkit-animation: spin 9s linear 0s infinite;
    
  }
  
  .planet {
      position: absolute;
      top: -5px;
    width: 10px;
    height: 10px;
      border-radius: 50%;
    background-color: var(--primary-color);
  }





/*//////////////////////////////////////////////////////////////////////////////
/////////////////////////                              /////////////////////////
/////////////////////////      -----  HUD   -----      /////////////////////////
/////////////////////////                              /////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

@keyframes countAnimate{
    0% {
        opacity:0;
        transform: scale(0)translateY(80px);
        transform-origin: center; 
    }
    100% {
        opacity:1;
        transform: scale(1);
        transform-origin: center;
    }
} 

.countdown > h2 {
    animation: 0.1s cubic-bezier(0, 0.95, 0.18, 0.99) 0s 1 countAnimate;
    
}


.countdown {
    position: absolute;
    visibility: visible;
    top: 30%;
    z-index: 1;
    color: var(--primary-color);
    opacity:0.7;
    

}

@keyframes animateIn{
    0% {
        opacity:0;
        transform: scale(4);
    }
    100% {
        opacity:1;
        transform: scale(16);
    }
} 
.player-choice{
    display: flex;
    animation: 0.5s ease-in 0s 1 animateIn;
    visibility: hidden;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.computer-score {
    position:fixed;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: var(--text-color);
}
.player-score {
    position:fixed;
    display:flex;
    align-items:center;
    flex-direction:column;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: var(--text-color);
}

.computer-score-label {
    position:fixed;
    color: var(--primary-color);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight:100;
    top:99%;
}

.player-score-label {
    position:fixed;
    color: var(--primary-color);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight:100;
    top:99%;
}



button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    /*font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;*/
    width:110px;
    height:110px;
    text-rendering: auto;
    letter-spacing: normal;
    font-family: 'Lato', sans-serif;
    font-weight:500;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    background:var(--primary-color);
    margin: 0em;
    border-radius: 19rem;
    cursor:pointer;
    border:none;
    z-index:12;
    color: var(--text-color); 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
 
}


svg {
    fill:#00ffc4;

}

button:hover {
    color:#fff;
    filter:brightness(200%);
    box-shadow: 0 0 5px #d6fff5,
                0 0 25px #b4ffec,
                0 0 50px #88ffe1,
                0 0 100px #03f4b8;
}

.choice-rock:hover{
    background-image: url(/images/circle.svg);
    background-size: 30px;
    background-position: center; 
    background-repeat: no-repeat;
    color:rgba(0, 0, 0, 0);
    filter:invert(34%) sepia(80%) saturate(0%) hue-rotate(
        130deg) brightness(150%) contrast(400%);
}

.choice-paper:hover{
    background-image: url(/images/rectangle.svg);
    background-size: 30px;
    background-position: center; 
    background-repeat: no-repeat;
    color:rgba(0, 0, 0, 0);
    filter:invert(34%) sepia(80%) saturate(0%) hue-rotate(
        130deg) brightness(150%) contrast(400%);
}
.choice-scissors:hover{
    background-image: url(/images/x.svg);
    background-size: 40px;
    background-position: center; 
    background-repeat: no-repeat;
    color:rgba(0, 0, 0, 0);
    filter:invert(34%) sepia(80%) saturate(0%) hue-rotate(
        130deg) brightness(150%) contrast(400%);
}