@media (prefers-color-scheme: light) {
    :root{
        --primary-color: #005e68;
        --secondary-color: #01939a;
        --background-color: #00000000 linear-gradient(180deg, 
                            #c7f6fe 10%, 
                            #e0f0f0 40%, 
                            #f7eecae8 65%, 
                            #fbd28f 100%) 
                            0% 0% no-repeat padding-box;
        --backlight-color: #effdff;
        --border-color: #8dbcc3;
        --text-color: #292929;
        --box-shadow-color: #b9b9b9;
        --navbar-color:#30303000;
        --svg-filter: invert(46%) sepia(80%) saturate(100%) hue-rotate(
            130deg) brightness(80%) contrast(400%);
    }
}
@media (prefers-color-scheme: dark) {
    :root{
        --primary-color: #fbffff;
        --secondary-color: #08b0a8;
        --background-color: #00000000 linear-gradient(180deg, 
                            #c7f6fe 10%, 
                            #e0f0f0 40%, 
                            #f7eecae8 65%, 
                            #fbd28f 100%) 
                            0% 0% no-repeat padding-box;
        --backlight-color: #314644;
        --border-color: #f6fffe9e;
        --text-color: #432a20;
        --box-shadow-color: #333333;
        --navbar-color: #00000000 linear-gradient(0deg, 
                        #45454552 6%, 
                        #ddd5d533 100%) 
                        0% 0% no-repeat padding-box;
        --svg-filter: invert(46%) sepia(80%) saturate(100%) hue-rotate(
            130deg) brightness(120%) contrast(400%);
    }
    
    *.show-light-only {
        display: none;
    }
    *.show-dark-only {
        display: unset;
    }
}
svg {
    filter: var(--svg-filter);
}
:root {
    --visibile-switch: 0;
  }

h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 100;
    font-weight: 10000;
    color: var(--text-color);
    border: var(--text-color);
    
    
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

p {
    font-size: 15px;
    color:#000
}
body{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background: var(--background-color);
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    border-width: 0px;
}
.wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height:100vh;
    max-width: 100vw;

}

.inner-wrapper{
    min-height: 94vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 20px;
}



.computer-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin:20px;
}

.player-area{
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin:20px;
    max-width: 400px;
    max-height:400px;
}

.play-button{
    width:120px;
    height:120px;
    position: absolute;
    visibility: visible;
    top: 20%;
    z-index: 2;
}

.countdown {
    position: absolute;
    visibility: visible;
    top: 20%;
    z-index: 1;
}

.player-choice{
    display: flex;
    gap: 8vw;
    visibility: hidden;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.result-window{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-width: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    min-height:70vh;
    visibility: hidden;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s  ease-out;
    background-color:rgba(255, 255, 255, 0.486)
}

.result-heading{
    font-size: 100px;
    color:#000;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    /*font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;*/
    width:110px;
    height:110px;
    text-rendering: auto;
    color: var(--text-color);
    letter-spacing: normal;
    font-family: 'Lato', sans-serif;
    font-weight:500;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    background:none;
    margin: 0em;
    transition: .2s;
    border-radius: 19rem;
    border:var(--text-color);
    border-width: 1px;
    border-style: double;
    cursor:pointer;
    /* box-shadow: 0px -20px 20px #432a2050 inset; */
    
}

button:hover{
    box-shadow: 0px 10px 20px #fff inset;
    border-color: #ecffff;
    border-width:3px;
    color:#ecffff;
    
    
}














.context {
    visibility:hidden;
}
.context-window{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-width: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    min-height:70vh;
    visibility: hidden;
}

.slider {
    background-color: #fff;
    box-shadow: 0px 0px 20px #000;
    
    position: absolute;
    display:flex;
    justify-content: center;

}



/* Slides */

.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style:none;
    position: absolute;
}
.slider input {
    display: none;
}

/* Navigation */

.slider label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    position: absolute;
    transition: .25s;
    width: .5em;
    z-index: 10;
    display:flex;
    justify-content: center;
}


.slider input:checked + label {
    background-color: #fff;
}
.slider li:nth-child(1) label {
    left: calc(50% - 1em);
}
.slider li:nth-child(2) label {
    left: 50%;
}
.slider li:nth-child(3) label {
    left: calc(50% + 1em);
}


/* Images */

.slider img {
    height: 18.75em;
    opacity: 0;
    transition: .25s;
    width: 25em;
    vertical-align: top;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    /* visibility: visible; */
    z-index: 10;
}